:root{
    --bg_color: #1f2937;
    --main_text: 48px extra-bold #f9faf8;
}

body {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/*Header links*/

.header-container{
    display: flex;
    flex-direction: column;
    background-color: var(--bg_color);
    align-items: center;
    padding-bottom: 32px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.left-links a{
    font-size: 24px;
    color: #F9FAF8; 
}

.right-links{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.right-links a {
    font-size: 18px;
    color: #E5E7EB;
}



/*header content*/

.header-content{
    display: flex;
    gap: 16px;
    padding: 32px;
    align-items: center;
    justify-content: center;  
    width: 70%;
    flex-wrap: wrap;
    
}


.header-text{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    gap: 32px;
    
}

#header-img{
    flex: 1;
    max-width: 450px;
    height: auto;
}

.main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.text-info{
    font-size: 18px;
    color: #E5E7EB;
    width: 70%;
}

.button button{
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 4px;
}

/*center info*/

.random-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 64px;
    margin: 32px;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;
}

.img-box{
    min-height: 200px;
    width: auto;
    border-radius: 5px;
    border: 5px solid wheat;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*quote*/

.quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background-color: #E5E7EB;
}

.quote-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
    padding: 64px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.author{
    text-align: right;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}